.add{
    display:flex;
    flex-direction:column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.form{
    width: 60vw;
    text-align: center;
    display:flex;
    flex-direction:column;
    gap: 10px;
}