.navItem {
    width: fit-content;
}
.nav.nav-tabs .nav-link.active {
    background-color: #5dbc09;
}
.navItem a{
    color: #fff;
    background: #5dbc09;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    text-align: center;
    padding: 7px 7px 8px;
    margin: 0 5px 7px 0;
    border-radius: 0;
    border: 2px solid #5dbc09;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0.2s;
}
.row{
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.note_content{
    display: flex;
    flex-direction: column;
    position: relative;  
    justify-content: center;
  }
.tab_pane{
    color: #555;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding: 15px 15px 15px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2),5px 0 0 2px #5dbc09;
    display: table-cell;
    width: 80%;

}
.note_content__button{
    position: absolute;
    right: 0;
}